body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #000;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}